@font-face{
font-family:acme;
src:url("Download/Acme,Oswald,Raleway/Acme/Acme-Regular.ttf");
}
@font-face{
font-family:oswald;
src:url('Download/Acme,Oswald,Raleway/Acme/Oswald-VariableFont_wght.ttf');
}
@font-face{
font-family:raleway;
src:url('Download/Acme,Oswald,Raleway/Acme/Raleway-Italic-VariableFont_wght.ttf');
}
@font-face{
font-family:roboto;
src:url('Download/Roboto_Condensed/RobotoCondensed-Regular.ttf');
}
@font-face{
font-family:square;
src:url('Download/Square_Peg/SquarePeg-Regular.ttf');
}
@font-face{
font-family:updock;
src:url('Download/Updock/Updock-Regular.ttf');
}